<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Stepik Delivery</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/index.css">

</head>

<body>
<header class="container mt-3">
    <nav class="py-1 navbar navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <a href="/" class=" h5 my-2 text-white bg-dark">Stepik Delivery</a>
      </ul>

        {% if session.user %}
            <a href="/cart" class="btn btn-warning btn-sm ml-4">КОРЗИНА</a>
            {% if session.user.orders %}
       <p class="my-2 text-white bg-dark "> ({{ session.user.orders.len() }} блюда ??? руб.)</p>
            {% endif %}
        {% endif %}
        {% if  not session.user %}<a href="/login" class="btn btn-warning btn-sm ml-4">Войти</a> {% endif %}
      {% if session.user %}<a href="/logout" class="btn btn-light btn-sm ml-4">Выйти</a> {% endif %}
    </nav>
  </header>


{% block main %}
{% endblock %}

</body>
</html>