{% extends "base.html" %}
{% block main %}
  <main class="container">
  {% if meals %}
    <h1 class="h3 my-4">Корзина</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li><div class="alert alert-warning" role="alert">{{ message }}</div></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if form.errors %}
               <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
               </ul>
{% endif %}
<div class="row mt-5">
    <div class="col-4">
      <form action="{{ url_for('cart') }}" method="POST">
          {{ form.csrf_token }}
      <h4 class="">Ваши данные</h4>
      <div class=" md-4 order-md-1">
        <div class="mt-3 mb-3">
          <label for="name">Ваше имя</label>

            {{ form.name(class_="font-weight-bold form-control") }}
        </div>
      </div>
      <div class=" md-4 order-md-1">
        <div class="mt-3 mb-3">
          <label for="name">Адрес</label>

            {{ form.address(class_="font-weight-bold form-control") }}
        </div>
      </div>
      <div class=" md-4 order-md-1">
        <div class="mt-3 mb-3">
          <label for="name">Телефон</label>

            {{ form.tel(class_="font-weight-bold form-control") }}

        </div>
       <input type="hidden" value = "{{ summ_cart }}" name="order_summ">
       <input type="hidden" value= "{{ meals }}" name="order_cart">
       <button type="submit" class=" mt-3 mb-5 btn btn-success">Оформить заказ</button>
      </form>
    </div>
</div>


  <div class="col-1"></div>
  <div class="col-7">
    <h4 class="mb-3 col-7 mb-5">{{ meals|length }} блюда в корзине</h4>


    <table class="table">
      <tbody>
      {% for meal in meals %}
        <tr>
          <th scope="row">{{ meal.title }}</th>
          <td></td>
          <td>1</td>
          <td>{{ meal.price }}</td>
          <td><a class="text-danger" href="{{ url_for('delfromcart', id=meal.id) }}">Удалить</a></td>
        </tr>
      {% endfor %}


      </tbody>
    </table>
    <hr>
    <p class="display-4 my-2 ">{{ summ_cart }} грн.</p>
      <a href="{{ url_for('clear_cart') }}" class="btn btn-danger btn-sm ml-4">Очистить корзину</a>
  {% else %}
          <h4 class="mb-3 col-7 mb-5">Корзина пуста</h4>
      {% endif %}
  </div>
  </main>
{% endblock %}