{% extends "base.html" %}

{% block main %}
{% include 'start.html' %}
<main class="container mt-3">
<section>
{%  for cat in cats %}
  <h3 class="my-4">{{ cat.title }}</h3>
  <div class="row mt-4">
      {% for meals in cat.meals %}
      <div class="col-12 col-md-4">
          <div class="card mb-3">
            <img src=static/pictures/{{ meals.picture}} width="300" height="200" class="card-img-top" alt="">
            <div class="card-body">
              <h4 class="h5 card-title">{{ meals.title }}</h4>
              <p class="card-text"> {{ meals.description }}</p>
              <a href="/addtocart/{{ meals.id }}/" class="btn btn-danger">В корзину</a>
            </div>
          </div>
      </div>
      {% endfor %}
  </div>
{% endfor %}
</section>


</main>
  <footer class="footer">
    <nav class="container navbar navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <p class="h4 nav-link">AlexUA Delivery</p>
      </ul>
      <a class="text-muted" href="/">Project author 2020</a>
    </nav>
  </footer>
{% endblock %}