{% extends "base.html" %}

{% block main %}
{% include 'start.html' %}
    {% if  not session.user %}
        <div class="alert alert-warning" role="alert">Чтобы сделать заказ –
            <a href="/login">войдите</a> или
            <a href="/registration">зарегистрируйтесь</a></div>
    {% endif %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li><div class="alert alert-warning" role="alert">{{ message }}</div></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<main class="container mt-3">
<section>
{% for cat in cats %}
  <h3 class="my-4">{{ cat.title }}</h3>
  <div class="row mt-4">
      {% for meals in cat.meals %}
      <div class="col-12 col-md-4">
          <div class="card mb-3">
            <img src=static/pictures/{{ meals.picture}} width="300" height="200" class="card-img-top" alt="">
            <div class="card-body">
              <h4 class="h5 card-title">{{ meals.title }}</h4>
              <p class="card-text"> {{ meals.description }}</p>
              <a href="/addtocart/{{ meals.id }}/" class="btn btn-danger">В корзину</a>
            </div>
          </div>
      </div>
      {% endfor %}
  </div>
{% endfor %}
</section>

</main>


{% endblock %}